<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/stylehome.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e85b7404a5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-png" href="/resources/devhub.png">
    
    <title>DevHub - Busqueda</title>
</head>
<body>

    <!--Añadimos header-->
    <%- include('header.ejs') %>

    <div class="container-global shadow-lg">
        <!--Añadimos navbar-->
        <%- include('navbar.ejs') %>
    
        <div class="row text-center mx-auto align-items-center">
            <h3>Desarrolladores encontrados: <%= desarrolladores.length %></h3>
        </div>
    
        <% if(desarrolladores.length === 0) { %>
            <div class="row text-center mx-auto align-items-center">
                <h3>No se encontró desarrolladores</h3>
            </div>
        <% } else { %>
            <% desarrolladores.forEach(function(desarr) { %>
                <!-- Asegúrate de que cada tarjeta esté dentro de su propio "row" para que aparezcan una debajo de la otra -->
                <div class="row mt-4">
                    <div class="col-12 mx-auto">
                        <div class="card text-center border-info" data-id="<%= desarr.id%>">
                            <div class="card-body">
                                <h2 class="card-title mx-auto" data-id="<%=desarr.id%>"><%= desarr.nombre %></h2>
                                <h3 class="card-body mx-auto"><%= desarr.apellido %></h3>
                                <h4 class="card-body mx-auto"><%= desarr.usuario %></h4>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>   
        <% } %>
    </div>
    
        </div>

</body>