<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/stylehome.css' />
    <link rel='stylesheet' href='/stylesheets/equipo.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e85b7404a5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-png" href="/resources/devhub.png">
    
    
    <title>DevHub - Home</title>
</head>
<body>

    <!--Añadimos header-->
    <%- include('header.ejs') %>

        <div class="container-global shadow-lg">
            
            <!--Añadimos navbar-->
            <%- include('navbar.ejs') %>

            <!--Diferenciamos usuarios navbar-->
            <div class="contenedor">
                <div class="team-header">
                    <div class="team-avatar">
                        <div id="team-avatar"></div>
                    </div>
                    <div class="team-info">
                        <div class="team-name"></div>
                        <div class="team-owner"></div>
                        <div class="team-objective"></div>
                    </div>
                </div>
                <div class="members-list">
                    <!-- Lista de miembros se agregará aquí dinámicamente -->
                </div>
            </div>
              
        </div>

        <script>
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
    
            function getInitials(name) {
                return name.split(' ').map(word => word.charAt(0)).join('');
            }
    
            function redirectToProfile(id) {
                window.location.href = '/perfil/' + id;
            }
    
            // Renderizar la información del equipo
            document.querySelector('#team-avatar').textContent = getInitials('<%= teamInfo.name %>');
            document.querySelector('.team-name').textContent = '<%= teamInfo.name %>';
            document.querySelector('.team-owner').textContent = 'Dueño: <%= teamInfo.owner %>';
            document.querySelector('.team-objective').textContent = 'Objetivo: <%= teamInfo.objective %>';
    
            // Renderizar la lista de miembros
            var membersList = document.querySelector('.members-list');
            <% teamInfo.members.forEach(function(member) { %>
                var memberCard = document.createElement('div');
                memberCard.classList.add('member-card');
    
                var memberAvatar = document.createElement('div');
                memberAvatar.classList.add('member-avatar');
                memberAvatar.textContent = getInitials('<%= member.name %>');
                memberAvatar.style.backgroundColor = getRandomColor();
    
                var memberName = document.createElement('div');
                memberName.classList.add('member-name');
                memberName.textContent = '<%= member.name %>';

                var deletemember = document.createElement('button');
                deletemember.classList.add('deletemember');
                deletemember.innerHTML = `
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/>
                    </svg> 
                `;

                memberCard.appendChild(memberAvatar);
                memberCard.appendChild(memberName);

                <% if(teamInfo.owner_id == usuario.id) { %>
                    memberCard.appendChild(deletemember);
                <% } %>
    
                deletemember.addEventListener('click', function() {
                    event.stopPropagation();

                    /*Redirrecion de ejemplo cambiar aqui*/
                    window.location.href = '/home';
                })

                // Agregar el evento de clic para redirigir al perfil del miembro
                memberCard.addEventListener('click', function() {
                    if (!event.target.closest('.deletemember')) {
                        redirectToProfile('<%= member.id %>');
                    }
                });
    
                membersList.appendChild(memberCard);
            <% }); %>

            <% if(teamInfo.owner_id == usuario.id) { %>
            
                // Crear y agregar el botón de 'Añadir Integrante'
                var addButton = document.createElement('div');
                addButton.classList.add('member-card'); // Usamos el mismo estilo que las tarjetas de miembro
                addButton.classList.add('nuevo-integrante');
                
                // Crear un nuevo elemento div para el avatar
                var addAvatar = document.createElement('div');

                // Crear un nuevo elemento div para el SVG
                var svgContainer = document.createElement('div');
                svgContainer.innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" class="icono_crear" width="50" height="50" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" style="margin: 10px">
                <defs>
                    <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="6%" style="stop-color:#5244E9 ;stop-opacity:1" />
                    <stop offset="95%" style="stop-color:#A870FF;stop-opacity:1" />
                    </linearGradient>
                </defs>
                <path fill="url(#grad)" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path fill="url(#grad)" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg> `;
                // Agregar el div del SVG al avatar
                addAvatar.appendChild(svgContainer);

                // Agregar el avatar al botón
                addButton.appendChild(addAvatar);

                var addText = document.createElement('div');
                addText.classList.add('member-name');
                addText.textContent = 'Invitar Integrante';

                addButton.appendChild(addAvatar);
                addButton.appendChild(addText);

                // Evento de clic para el botón de añadir
                addButton.addEventListener('click', function() {
                    $("#staticBackdrop2").modal('show');
                });

                membersList.appendChild(addButton);
        <% } %>
        </script>

        <%- include('invitaciones.ejs') %>

</body>

<script src="/javascripts/invitaciones.js"></script>

</html>
