<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/stylehome.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e85b7404a5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-png" href="/resources/devhub.png">
    <link rel="stylesheet" href="/stylesheets/invitaciones.css"> <!-- Agregar esta línea -->
    
    <title>DevHub - Home</title>
</head>
<body>

    <!--Añadimos header-->
    <%- include('header.ejs') %>

        <div class="container-global shadow-lg">
            
            <!--Añadimos navbar-->
            <%- include('navbar.ejs') %>

            <div class="contenedor-principal">
                <% if(usuario.es_empresa == 0) { %>
                        <div class="container-invitations">
                            <% invitations.forEach(invitation => { %>
                                <div class="invitation">
                                    <a href="/perfil/<%= invitation.idSender %>">
                                        <div class="circle" style="background-color: rgb(<%= Math.floor(Math.random() * 256) %>, <%= Math.floor(Math.random() * 256) %>, <%= Math.floor(Math.random() * 256) %>)">
                                            <span class="initials">
                                                <%= invitation.senderName.split(' ').map(name => name.charAt(0)).join('') %>
                                            </span>
                                        </div>
                                    </a>
                                    <div class="invitation-text">
                                        <p>Has sido invitado por <a href="/perfil/<%= invitation.idSender %>"><%= invitation.senderName %></a> para unirte al equipo <a href="/equipo/<%= invitation.idTeam %>"><%= invitation.teamName %></a>.</p>
                                    </div>
                                    <div class="invitation-buttons">
                                        <button id="reject-button" class="reject-button" onclick="rejectInvitation('<%=invitation.invitationId %>')" data-invitation-id="<%= invitation.invitationId %>"><i class="fas fa-times"></i></button>
                                        <button id="accept-button" class="accept-button" onclick="acceptInvitation('<%=invitation.invitationId %>')" data-invitation-id="<%= invitation.invitationId %>"><i class="fas fa-check"></i></button>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                <% } %>

                <div class="bienvenida">
                    <h2>Bienvenido/a a DevHub</h2>
                    <p>(versión desarrollador)</p>
                </div>
         
            </div>
        </div>


        <script>
            // Funciones para aceptar y rechazar invitaciones
            function acceptInvitation(invitationId) {
                fetch('home/acceptInvitation', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ invitationId: invitationId })
                })
            }

            function rejectInvitation(invitationId) {
                fetch('home/rejectInvitation', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ invitationId: invitationId })
                })
            }
        </script>

</body>

<script src="/javascripts/toastrFunctions.js"></script>
<script src="/javascripts/home.js"></script>

</html>