<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/stylehome.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e85b7404a5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-png" href="/resources/devhub.png">
    <link rel="stylesheet" href="/stylesheets/invitaciones.css"> <!-- Agregar esta línea -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


    <title>DevHub - Home</title>

</head>

<body>
    <!--Añadimos header-->
    <%- include('header.ejs') %>

        <div class="container-global shadow-lg">

            <!--Añadimos navbar-->
            <%- include('navbar.ejs') %>


                <% if (invitations.length===0) { %>
                    <div class="no-invitations-message">
                        <h2>No hay Invitaciones</h2>
                        <p>En este momento no tienes ninguna invitación pendiente.</p>
                    </div>
                    <% } else { %>
                        <!-- Contenedor de invitaciones -->
                        <div class="container-invitations">
                            <% invitations.forEach(invitation=> { %>
                                <div class="invitation">
                                    <a href="/perfil/<%= invitation.idSender %>">
                                        <div class="circle"
                                            style="background-color: rgb(<%= Math.floor(Math.random() * 256) %>, <%= Math.floor(Math.random() * 256) %>, <%= Math.floor(Math.random() * 256) %>)">
                                            <span class="initials">
                                                <%= invitation.senderName.split(' ').map(name => name.charAt(0)).join('') %>
                                        </span>
                                    </div>
                                </a>
                                <div class="invitation-text">
                                    <p>Has sido invitado por <a href="/perfil/<%= invitation.idSender %>"><%= invitation.senderName %></a> para unirte al equipo <a href="/equipo/<%= invitation.idTeam %>"><%= invitation.teamName %></a>.</p>
                                </div>
                                <div class="invitation-buttons">
                                    <button class="accept-button" onclick="acceptInvitation('<%=invitation.invitationId %>')"><i
                                                        class="fas fa-check"></i></button>
                                                    <button class="reject-button"
                                                        onclick="rejectInvitation('<%= invitation.invitationId %>')"><i
                                                            class="fas fa-times"></i></button>
                                        </div>
                                </div>
                                <% }) %>
                        </div>
                        <% } %>
        </div>

        </div>



        </div>
        <script>
            function acceptInvitation(invitationId) {
                fetch('home2/acceptInvitation', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ invitationId: invitationId })
                })
                    .then(response => {
                        if (response.ok) {
                            // Si la respuesta del servidor es exitosa, mostrar un mensaje de éxito
                            alert('Invitación aceptada exitosamente. Desarrollador agregado al equipo.');
                            // Recargar la página para reflejar los cambios

                        } else if (response.status === 404) {
                            // Si la invitación no existe, mostrar un mensaje de error
                            alert('La invitación no existe');
                        } else if (response.status === 401) {
                            // Si la invitación no existe, mostrar un mensaje de error
                            alert('El equipo ya no existe');
                        } else if (response.status === 500) {
                            // Si el desarrollador ya está en el equipo, mostrar un mensaje informativo
                            alert('El desarrollador ya pertenece al equipo');
                        } else {
                            // Si hay otro error, mostrar un mensaje genérico de error
                            alert('Error al aceptar la invitación');
                        }
                        location.reload();
                    })
                    .catch(error => console.error('Error de red:', error));
            }

            function rejectInvitation(invitationId) {
                fetch('home2/rejectInvitation', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ invitationId: invitationId })
                })
                    .then(response => {
                        if (response.ok) {
                            // Si la respuesta del servidor es exitosa, no es necesario mostrar ningún mensaje
                            // simplemente recargar la página si es necesario
                            location.reload();
                        } else if (response.status === 404) {
                            // Si la invitación no existe, mostrar un mensaje de error
                            alert('La invitación no existe');
                        } else if (response.status === 500) {
                            // Si hay un error interno del servidor, mostrar un mensaje de error
                            alert('Error interno del servidor. Por favor, inténtelo de nuevo más tarde.');
                        } else {
                            // Si hay otro tipo de error, mostrar un mensaje genérico de error
                            alert('Error al rechazar la invitación');
                        }
                    })
                    .catch(error => console.error('Error de red:', error));
            }

        </script>

</body>

</html>